<!DOCTYPE html>
<html>
<head>
	<title>show</title>
</head>
<body>

firstname: <%=@first.firstname%>
lastname: <%=@first.lastname%>
designation: <%=@first.designation%>
origin: <%=@first.origin%>
<%=link_to "home",root_path%>

</body>
</html>